*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.inter-personal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.icon-with-text{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 12px;
}
iframe{
    width: 100%;
    height: 100%;
}
.title-contant-itembox{
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    /* margin-bottom: 16px; */
    text-align: center;
}
.text-content{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    /* margin-bottom: 24px; */
    line-height: 1.25rem;
    /* margin: 12px 0; */
}

header{
    text-align: center;
}
nav{
    background-color: #1a0b2e;
    /* margin: 0 12.5rem; */
    padding: 1rem 0;
}
.nav-ele{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12.5rem;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
.btn{
 
}
.btn-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background: #F7E93F;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 64%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 20px;
    text-align: center;
    color: white;    
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}
.hero {
    /* padding: 100px; */
    background-image: url(../asset/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #F7E93F 1px solid; */
    text-align: center;
}
.hero-hero-section{
    
    position: relative;
    margin-top: 6rem;
    /* height: 100%; */
    
    display : flex;
    padding: 3rem;
    justify-content: center;    
}
.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-badge {
    position: absolute;
    top: -30%;
    left: 140%;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
    box-shadow:  #00FF88;
}
.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
    padding-bottom: 101px;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 73px;
    color: white;
    margin-bottom: 8px;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}
.hero-btn{
    display: flex;
    gap: 8px;
}
.btn-spotify{
    padding: 12px 20px;
}
.btn-unique{
    border: #00FF88 2px solid;
    background: transparent;
    color: #00FF88;
    padding: 12px 20px;
}

/* content section */
.contant {
    padding-top: 50px;
    background-color: #1A0B2E;    
    /* border: 1px solid #00FF88; */
    /* background-color: white; */
}
.content-box{
    margin: 0 12.5rem;
}
.content-itembox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    /* margin: 200px 0; */
}
.content-itembox h1{
    margin-bottom: 1rem;
}
.content-itembox p{
    line-height: 1.25rem;
}
hr{
    margin-bottom: 3rem;
}
.content-ratingbox{
    border-top: #230E3D 1px solid;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
    text-align: center;
} 
.content-ratingbox div h1{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 8px;
}
.content-ratingbox div p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

/* reason to choose section */
.feature{
    background-color: #230E3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 0;
   
}
.feature-itembox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    padding-top: 40px;
    margin: 20px 200px;
}
#layout-item{
    background-color: #2a0f4d;
    justify-content: center;
    align-content: center;
    border-radius: 40px;
    /* border : #00FF88 2px solid; */
    padding: 40px;
    margin-bottom: 0px;
}
.layout-1{
    grid-column: span 1;
    grid-row: span 2;
}
.layout-2{
    grid-column: span 2;
    grid-row: span 1;
}
.layout-3{
    grid-column: span 2;
    grid-row: span 1;
}
.layout-4{
    grid-column: span 1;
    grid-row: span 1;
}
.feature-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*  feature video section  */
.feature-video{
    background-color: #1a0b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}


.feature-display-video{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 1rem 12.5rem;
    gap: 30px;
}
.video-info{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-items: start;
    align-items: start;
}
.video-itembox{
    background-color: #250d44;
    border-radius: 2.5rem;
    /* border: #00FF88 2px solid; */
}
.video-itembox iframe{
    border-radius: 2.5rem;
}
.icon-with-text-d{
    display: flex;
    /* justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    color: #00FF88;
    gap: 10px;
}

/* host section */
.host-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center; */
}
.host-section-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* padding: 40px; */
    margin: 0 200px;
    
}
.host-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #250e44;
    border-radius: 0.5rem;
    padding: 40px;
    margin-top: 2rem;
}
.host-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.host-name{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    text-align: left;
}
.host-info-box ul{
    display: flex;
    gap: 16px;
    
}
.host-info-box ul li{
    list-style: none;
    flex-direction: row;
}

.hember-m{
    display: none;
}
/* footer section */
footer{
    background-image: url(../asset/footer-bg.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
    /* padding: 30px 0; */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;    
}
.footer-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    
}
.footer-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
}
.footer-social-media a{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: 5px;
}







/* animation contant */
.spinner {
    animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

.btn-btn {

}
.btn-btn:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0); 
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* 
img:hover {
  transform: scale(1.2);
 */

