*{
    margin: 0;
    padding: 0;
}
.inter-personal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.icon-with-text{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
    gap: 4px;
}
iframe{
    width: 100%;
    height: 100%;
}
.title-contant-itembox{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}
.text-content{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    /* margin-bottom: 24px; */
    line-height: 1.25rem;
    margin: 12px 0;
}
header{
    background-image: url('../asset/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 36px 0;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
.btn{
 
}
.btn-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F7E93F;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 64%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 20px;
    text-align: center;
    color: white;    
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 144px); */
}
.hero-hero-section{
    background-image: url(../asset/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    display : flex;
    padding: 50px;
    justify-content: center
    
}
.new-badge {
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
}
.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 101px;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 73px;
    color: white;
    margin-bottom: 8px;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}
.hero-btn{
    display: flex;
    gap: 8px;
}
.btn-spotify{
    padding: 12px 20px;
}
.btn-unique{
    border: #00FF88 2px solid;
    background: transparent;
    color: #00FF88;
    padding: 12px 20px;
}
.contant {
    background-color: #1A0B2E;    
}
.content-box{
    margin: 0 200px;
}
.content-itembox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    margin: 0 200px;
}
.content-itembox h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}
.content-itembox p{
    line-height: 1.25rem;
}
hr{
    /* color: #cdcbcf; */
    margin-bottom: 50px;
}
.content-ratingbox{
    border-top: #230E3D 1px solid;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
    text-align: center;
} 
.content-ratingbox div h1{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 8px;
}
.content-ratingbox div p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

/* reason to choose section */
.feature{
    background-color: #230E3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.feature-itembox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    padding-top: 40px;
    margin: 0 200px;
}
#layout-item{
    background-color: #2a0f4d;
    justify-content: center;
    align-content: center;
    border-radius: 40px;
    /* border : #00FF88 2px solid; */
    padding: 40px;
    margin-bottom: 0px;
}
.layout-1{
    grid-column: span 1;
    grid-row: span 2;
}
.layout-2{
    grid-column: span 2;
    grid-row: span 1;
}
.layout-3{
    grid-column: span 2;
    grid-row: span 1;
}
.layout-4{
    grid-column: span 1;
    grid-row: span 1;
}
.feature-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 16px 0;
}
/*  feature video section  */
.feature-video{
    background-color: #1a0b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}


.feature-display-video{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 12.5rem;
    gap: 10px;
}
.video-info{
    padding: 24px;
    justify-items: start;
}
.video-itembox{
    background-color: #250d44;
    border-radius: 2.5rem;
    border: #00FF88 2px solid;
}
.icon-with-text-d{
    display: flex;
    /* justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    color: #00FF88;
    gap: 10px;
}